@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
  }

*::selection {
  color: #6279b8ff;
  background-color: #253056ff;
}

/* CSS HEX 
--jordy-blue: #adc7ffff;
--glaucous: #6279b8ff;
--space-cadet: #253056ff;
--hookers-green: #496f5dff;
--shamrock-green: #4c9f70ff;
*/

.grillaPrincipal {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "presentation presentation presentation presentation"
  "experiencia estudios sitios contacto";
}

.presentation {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "foto nombre nombre codigo"
      "foto resumen resumen codigo";
  place-items: center;
  grid-area: presentation;
  padding: 30px;
  background-color: #253056ff;
  animation-delay: 0.1s;
}

@-webkit-keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes puff-in-center{0%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.puff-in-center{-webkit-animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both;animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}

.nombre {
  grid-area: nombre;
  color: #adc7ffff;
  font-size: 52px;
  transition: all 0.3s;
  animation-delay: 1.2s;
}

.nombre:hover {
  font-size: 54px;
}

.nombre::selection {
  background-color: #adc7ffff;
  color: #253056ff;
  }

.resumen {
  grid-area: resumen;
  color: #adc7ffff;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 17.5px;
  transition: all 0.3s;
  animation-delay: 1.2s;
}

.certificadoFE {
  text-decoration: none;
  font-style: italic;
  color: #c9daff;
  transition: all 0.3s;
}

.certificadoFE:hover {
  font-size: 20px;
  text-decoration: underline
}

.resumen::selection {
  background-color: #adc7ffff;
  color: #253056ff;
  }

.fotoPrincipal {
  grid-area: foto;
  max-width: 200px;
  border-radius: 10px;
  border: groove;
  border-color: #adc7ffff;
  transition: all 0.3s;
  animation-delay: 0.6s;
}

.fotoPrincipal:hover {
  max-width: 206px;
}

.codigo {
  grid-area: codigo;
  width: 100px;
  transition: all 0.3s;
  animation-delay: 0.6s;
}

.codigo:hover {
  width: 140px;
}

.experiencia {
  grid-area: experiencia;
  background-color: #adc7ffff;
  color: #253056ff;
  border: groove;
  border-color: #253056ff;
  transition: all 0.3s;
  animation-delay: 1.8s;
  display: grid;
  padding: 10px;
  height: 50vh;
}

.experiencia:hover {
  background-color: #adc7ffff;
  border: 5px groove;
  border-color: #253056ff;
}

.estudios {
  grid-area: estudios;
  background-color: #6279b8ff;
  color: black;
  border: groove;
  border-color: #253056ff;
  transition: all 0.3s;  
  animation-delay: 2.1s;
  display: grid;
  padding: 10px;
  height: 50vh;
}

.estudios:hover {
  background-color: #6279b8ff;
  border: 5px groove;
  border-color: #253056ff;
}

.certificados {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  transition: all 0.3s;
}

.certificados:hover {
  font-size: 18px;
}

.sitios {
  grid-area: sitios;
  background-color: #adc7ffff;
  color: #253056ff;
  border: groove;
  border-color: #253056ff;
  transition: all 0.3s;
  animation-delay: 2.4s;
  display: grid;
  padding: 10px;
  height: 50vh;
}

.sitios:hover {
  background-color: #adc7ffff;
  border: 5px groove;
  border-color: #253056ff;
}

.sitiosWeb {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.web {
  width: 36px;
  height: 36px;
}

.contacto {
  grid-area: contacto;
  background-color: #6279b8ff;
  color: black;
  border: groove;
  border-color: #253056ff;
  transition: all 0.3s;
  animation-delay: 2.7s;
  display: grid;
  padding: 10px;
  height: 50vh;
}

.contacto:hover {
  background-color: #6279b8ff;
  border: 5px groove;
  border-color: #253056ff;
}

.links {
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.links:hover {
  font-size: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {

  .grillaprincipal {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr) ;
      grid-template-areas: 
          "presentation"
          "experiencia"
          "estudios"
          "sitios"
          "contacto"
  }

  .presentation {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.4fr 1fr 1fr;
    grid-template-areas:
        "foto codigo"
        "nombre nombre"
        "resumen resumen"
        "resumen resumen";
    place-items: center;
    padding: 5px;
    height: 100vh;
  }

  .fotoprincipal {
    margin-top: 20px;
  }

  .nombre {
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }
  .resumen {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
  }

  .fotoprincipal {
    margin-left: 20px;
  }

  .codigo {
    width: 80px;
  }

  .experiencia:hover {
    background-color: #adc7ffff;
    border: groove;
    border-color: #253056ff;
  }

  .estudios:hover {
    background-color: #6279b8ff;
    border: groove;
    border-color: #253056ff;
  }

  .sitios:hover {
    background-color: #adc7ffff;
    border: groove;
    border-color: #253056ff;
  }  

  .contacto:hover {
    background-color: #6279b8ff;
    border: groove;
    border-color: #253056ff;
  }
}